---
---

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

$font-family: 		Trebuchet MS, Verdana, sans;
$font-size:			10pt;
$line-height:		1.4em;
$max-width:			960px;
$min-column-width:	2.5em;
$color:				black;
$background:		white;
$secondary-color:	rgb(7,72,112);
$icon-size:			2em;
$text-mono: 		Courier New, monospace;
$text-body: 		$font-family;
$text-head: 		$font-family;
$block-separation: 	1em;
$text-separation: 	0.5em;
$gutter:			1em;
$rounded:			4px;
$color-normal:		transparent;
$color-ok:			#F0F0F0;
$color-error:		rgb(201, 19, 11);
$color-warning:		rgb(247, 237, 184);

$small-device:		40em;
$medium-device:		65em;

$reservation:		2em;
$color-vignette:	#F0F0F0;

@import "functions.scss";
@import "layout.scss";
@import "base.scss";
@import "book.scss";


/*
	Styling of the main menu
*/
.menu-bar {
	margin-top: 10px;
	padding-top: $text-separation;
	padding-bottom: $text-separation;
	@include gradient( black, rgb(7,72,112), rgb(9,90,140));
	@include drop-shadow(2px,2px,2px,0.1);
   	@include rounded(3px);
   	margin-bottom: $block-separation;
   	> [span] {
		vertical-align:middle;
	    margin: 0px;
   		> * {
   			color: white;
   		}
		> a {
		    font-size: $font-size * 1.2;
			padding-top:3px;
			margin-right: $gutter;
		} 
   		.menu-logo {
   			height: $line-height;
   			position: relative;
   			top: 5px;
   		}
		> img {
		  padding-right: $gutter;
		}
   	}
	.menu-link {
		color: white;
		vertical-align: middle;
	}
	
	.menu-button {
		float: right;
	}
	
    @media screen and (max-width: $medium-device) {
		[span]:last-child {
   			width: 100%; 
		}
		[span] {
			width: 50%;
			min-width: 1em;
		}
	}
	
    @media screen and (max-width: $small-device) {
		[span] {
   			width: 100%; 
			min-width: 1em;
		}
	}
	
}


/*
 * Styling of the side bar
 */
 
.side-nav {
	@include vignette();
}

.enroute {
	@include vignette();
	margin-top: $block-separation;
	img {
		width: 4em;
		float: left;
		vertical-align: middle;
		margin-right: $text-separation;
	}
	&::after {
		float:clear;
	}
}


.selected {
    &:before { content: "\25B7\00A0"; }
    font-weight: bolder;
    color: $secondary-color;
}



.front-img {
	@include drop-shadow(4px,4px,4px,0.2);
   	@include rounded(5px);
	width: 100%;
	margin-bottom: $block-separation;
}

.text-inset {
	float: left;
	margin: 0 $text-separation 0 $text-separation;
   	@include rounded(5px);
}

.highlight {
	@include vignette();
}

div.letter-icon {
   	@include rounded(5px);
	border: 2px solid $secondary-color;
	padding: $text-separation/2;
	margin: 0 $text-separation/2 $text-separation/2 0;
	float: left;
	height: 25px;
	width: 25px;
	font-size: 400%;
	font-weight: bold;
	vertical-align: baseline;
	text-align: center;
}

img.short-header {
	@include rounded(5px);
	max-width: 100%;
	margin-bottom: $text-separation;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes enlarge {
    from { width: 50%;}
    to { width:100%;}
}

/* Standard syntax */
@keyframes enlarge {
    from { width: 50%;}
    to { width:100%;}
}
.tutorial-content img {
   	@include rounded(5px);
   	border: 1px solid lightgrey;
	align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: $block-separation;
	margin-bottom: $block-separation;
}

.tutorial-content {
	min-height: 400px;
	margin-bottom: 4*$block-separation;
}
/*
 * Next and Previous navigation
 */

.nav-prev {
    &:before { content: "\25C0\00A0"; }
	float: left;
}
 
.nav-next {
    &:after { content: "\00A0\25B6"; }
	float: right;
}

p.bug {
	&:before { font-weight: bold; content: "BUG: "; }
   	@include rounded(3px);
   	background-color: #FFF0F0;
   	padding: $text-separation;
   	margin: $text-separation 0 $text-separation 0;
   	border: solid 1px #FFE0E0;
}

p.warning {
	&:before { font-weight: bold; content: "WARNING: "; }
   	@include rounded(3px);
   	background-color: rgb(247, 252, 180);
   	padding: $text-separation;
   	margin: $text-separation 0 $text-separation 0;
   	border: solid 1px #FFE0E0;
}

p.note {
	&:before { font-weight: bold; content: "NOTE: "; }
   	@include rounded(3px);
   	background-color: rgba(12, 118, 184, 0.08);
   	padding: $text-separation;
   	margin: $text-separation 0 $text-separation 0;
   	border: solid 1px #FFE0E0;
}

.shell pre {
	color: white;
	background-color: #333;
}

@media print {
	pre.shell {
		border: 1px solid grey;
		color: black;
	}
}

div.hide {
	color: white;
	&:hover {
		color: black;
	}
}

.thumb200-l img {
	max-width:200px;
	float:left;
	margin-left:0em;
	margin-right:1em;
	margin-bottom:1em;
	margin-top:0em;
}

.version {
	float: right;
}
