
<nav class=next-prev>
	<a href='{{page.previous.url}}'></a> <a href='{{page.next.url}}'></a>
</nav>
<footer class="container12" style="border-top: 1px solid black;padding:10px 0">
	<ul span=12 row>
<!-- Given that the site is live, I recommend removing the links until they are go somewhere. If it was still in development, they are good placeholders. -->
		<li span=3>
			<ul>
				<a href="https://www.osgi.org">Copyright © 2017 OSGi™ Alliance.</a>
			</ul>
		<li span=3>
			<!-- <ul>
				<li><a href="">Developers</a>
			</ul> -->
		<li span=4>
			<!-- <ul>
				<li><a href="">More</a>
			</ul> -->
		<li span=2>
			<a href="http://www.osgi.org"><img style="float:right;width:8em" src="/img/osgi-logo-256.png"></a>
	</ul>
</footer>
