//
// Special styles for the book
//

.book {
	img {
		max-width: 100%;
		@include rounded(4px);
		border: 1px solid lightgray;
		margin-left: auto;
		margin-right: auto;
		margin-top: $block-separation;
		margin-bottom: $block-separation;
		display: block;
	}
}