<!DOCTYPE html>
<html lang="en" ng-app="jpm">

	{% include head.htm %}

<body>

	{% for chapter in site.book %}
		{% if chapter.url == page.url %}
			<style>
				 body {
					counter-reset: h1 {{ forloop.index }};
				}
			</style>
				
		{%endif%}
	{%endfor%}

	{% include nav.htm %}

					

	<ul class=container12>
		<li span=3>
			<div>
			{% include sidebar.htm %}
			</div>
			
		<li span=9>
			<img class=short-header src="/img/header-short-book.png">
			<div class='notes-margin book'>
				<h1>{{{h1}} {{page.title}}</h1>
				{{content}}
			</div>
	</ul>

	{% include footer.htm %}
</body>
</html>
