<style>
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
}

@keyframes slidein {
  from {
  	top:-100px;
  }

  to {
  	top:0px;
  }
}
@-webkit-keyframes slidein {
  from {
  	top:-100px;
  }

  to {
  	top:0px;
  }
}

</style>
<ul class="container12 menu-bar">
	<li span=8><a class=menu-link href="/"><img class=menu-logo
			src='/img/EnRouteIcon_CMYK.png'></a> <a
		href="/book/100-introduction.html">Guide </a><a
		href="/forum.html">Forum</a>
	<li class=menu-link span=3>
	<li class=menu-link span=1 style=position:relative>
		<img src="/img/under-construction.png" class=slidein style="width:100px;position:fixed;top:0px">
	
</ul>
