<!DOCTYPE html>
<html lang="en">

{% include head.htm %}

<body>

	{% include nav.htm %}

	<div class='container12'>
		<div class=row>
			<div span=8>
				<img class=front-img src="/img/front-page-2000.jpg">
				<ul class=container12>
					<li span=4>
						<h1>Why OSGi enRoute?</h1>
						<p>OSGi is by far the best way to develop software systems and take
							advantage of modularity. However, until now the threshold to get
							started was high due to lack of a good tool chain, proper service
							based libraries, and tutorials, with the consequence that many
							people gave up before the benefits became visible.
						<p>The vision of the OSGi Alliance with the enRoute project is
							therefore to make OSGi as easy as possible for developers to get
							started with OSGi without compromising its core values.
						<p>
							<a href="/book/210-overview.html">Read more ...</a>
					<li span=4>
						<h1>What is OSGi enRoute?</h1>
						<p>OSGi enRoute consists of the following aspects:
						<ul>
							<li><b>Community</b> – A growing community (well, any new
								project will easily have a growing community, please join!).
							<li><b>Programming Model</b> – A quite cool, best practice,
								µservice-based development model.
							<li><b>Tool Chain</b> – A selected tool chain that supports
								the OSGi programming model over all the stages of development.
							<li><b>Education</b> – A (hopefully growing) number of
								tutorials and examples.
							<li><b>Incubator</b> – Acts to experiment with future services.
						</ul>
						<p>
							<a href="/book/100-introduction.html">Read more ...</a>
					<li span=4>
						<h1>How to get started?</h1>
						<p>
							To get a feel for OSGi enRoute the best way to start is doing
							the <a href="/qs/050-start.html">Quick Start</a> tutorial.
						<p>
							If you like what you see, you should try the longer <a href="book/220-tutorial-base.html">base
								tutorial</a>. This is a zero-knowledge required tutorial that guides
							you through all the principles of developing with OSGi enRoute.
						<p>
							If you are an architect and want to know more about what enRoute
							is and does then you start reading the <a
								href="book/210-overview.html">overview</a> of the enRoute
							project.
						<p>
							<!-- If you're interested in the enRoute Profiles, you can find more to
				read in the <a href="book/400-datasheets.html"></a> -->
						<p>
							<a href="/book/210-overview.html">Read more ...</a>
							<!-- <ol>
				{% for chapter in site.chapters %}
				<li><a href="{{chapter.url}}">{{chapter.title}}</a> {% endfor%}



			</ol> -->
				</ul>
			</div><div span=4>
				<h1>News</h1>
				<ul
					style="margin-bottom: 3em">
					<li><b>OSGi enRoute at EclipseCon</b> See the <a href="https://www.youtube.com/watch?v=-0LFfZqSVxE&feature=youtu.be">promotion video</a> of Paul Fraser's talk at <a href="https://www.eclipsecon.org/europe2016/">EclipseCon 2016</a>. 
					<li><b>DTOs, what the heck?</b> – Data Transfer Objects are a cornerstone of OSGi enRoute. However, people are confused about the non-object oriented nature of them. A new app note explains the rational of DTOs. <a href="http://enroute.osgi.org/appnotes/dtos.html">read more ...</a>
					<li><b>Karaf Development</b> – Matteo Rulli explains how you can use Bndtools to interactively debug bundles using the remote agent support. <a href="http://enroute.osgi.org/appnotes/bndtools-and-karaf.html">read more ...</a>
					<li><b>VAADIN!</b> – A new example repository with OSGi enRoute and Vaadin. Shows you can use Vaadin in a service oriented world and DTOs. <a href="https://github.com/osgi/osgi.enroute.examples.vaadin/tree/master">read more ...</a>
					<li><b>Site updates</b> – Bndtools 3.2.0 release required an update of the tutorials. Front page and  <a
						href="/book/210-doc.html">background documentation</a> updated.
					<li><b>Bnd Maven Repository Plugin</b> – In <a
						href="https://github.com/bndtools/bnd/wiki/Changes-in-3.2.0">Bndtools
							3.2.0 Released</a> there is a new <a
						href="http://bnd.bndtools.org/plugins/maven.html">Maven plugin</a>.
						We've also provided a tutorial. <a
						href="http://enroute.osgi.org/tutorial_maven/050-start.html">See
							more ...</a>
					<li><b>Rolling logger</b> – A new bundle that saves a number
						of log files and deletes them later. <a
						href="https://github.com/osgi/osgi.enroute.bundles/tree/master/osgi.enroute.logreader.rolling.provider">See
							more ...</a>
					<li><b>Wrapping tutorial</b> – An extensive <a
						href="/tutorial_wrap/050-start">JAR Wrapping tutorial</a> was
						added to OSGi enRoute. It is currently under review, feedback more
						than welcome.
					<li><b>Bndtools 3.2 Workspace</b> – Bndtools 3.2 (which is
						beta right now) has the following process built in (Thanks Neil!);
						Just create a new Eclipse workspace and then do
						New/Other/Bndtools/Bnd OSGi Workspace. Make sure you put the bnd
						workspace in another directory then the Eclipse workspace.
					<li><b>OSGi enRoute Articles</b> – Second article about OSGi
						&amp; OSGi enRoute in JAX Enter <a
						href="https://jaxenter.com/introducing-enroute-1-0-new-osgi-framework-part-2-123478.html">See
							more ...</a> <a
						href="https://jaxenter.com/introducing-enroute-1-0-new-osgi-framework-123466.html">(or
							here for the first part)</a>.
					<li><b>App Notes</b> – New section with Application notes,
						first app note is about Gogo because it can do so much more than
						most people know <a href="/book/680-appnotes">See more ...</a>.
					<li><b>Tutorials and Examples pages</b> – The site got a small
						make over and now provides separate pages for the <a
						href="/book/180-examples.html">examples</a> and the <a
						href="/book/150-tutorials.html">tutorials</a>.
				</ul>
			</div>
		</div>
	</div>

	{% include footer.htm %}
</body>
</html>
