name: Docs Build

on:
  push:
    branches-ignore:
    - 'dependabot/**'
  pull_request:

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

jobs:
  GitHub_Pages:
    name: GitHub Pages
    runs-on: ubuntu-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@v2.3.4
      with:
        submodules: true
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7.x
    - name: Build
      run: |
        ./.github/scripts/docs.sh
